# Kakao Developers: https://developers.kakao.com/
KAKAO_REST_API_KEY=

# TMAP (SK Open API): https://openapi.sk.com/
TMAP_API_KEY=

# ODsay LAB: https://www.odsay.com/
ODSAY_API_KEY=

APP_ENV=development
